<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <%- include ('../partials/message') %>
                <p></p>
                <div style="background-color: RGBA(33,37,41,var(--bs-bg-opacity,0.75))!important; padding: 15px; border-radius: 10px;">
                    <h1>Login</h1>
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="InputUsername" class="form-label">Username</label>
                            <input type="Username" class="form-control" name="username" id="username"
                                aria-describedby="usernameHelp" />
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" />
                        </div>
                        <p>Don't have an account? <a href='/register' style="color: rgb(255, 255, 255);"><u>Register</u></a></p>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    </div>
        </main>

        <%- include ('../partials/footer') %>